.topNav{
  height: 60px;
  background: rgba(255,255,255,1);
  position: fixed;
  top:10px;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: top 0.5s;
  z-index: 999;
}

.no{
  top:-60px;
}

.navMain{
  border-radius: 4px;
  box-shadow: 0 5px 15px 0 rgba(137,156,174,.4);
  width: 80%;
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
  justify-content: space-between;
}

.navButton{
  font-family: '思源宋体' ,sans-serif;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  //background: linear-gradient(135deg,#005CAF 0%,#2EA9DF 100%);
  //-webkit-background-clip: text;
  color: #005CAF;
  letter-spacing: .05em;
  margin: 0 5px;
  padding: 7px 21px;
  border-radius: 4px;
  transition: background 0.33s, color 0.33s;
}

@media screen and (max-width: 999px) {
  .topNav{
    display: none;
  }
}

.navButton:hover{
  background: linear-gradient(315deg,rgba(163,189,237,.95) 0%,rgba(105,145,199,.95) 100%);
  color: white;
}
