@use "./base";

.main {
  background-image: url("/images/main.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}