@use '../../base';

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, .5));
  box-shadow: 0 1px 2px rgb(0, 0, 0, .05);
  backdrop-filter: blur(1px);
}

.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: 4rem;
  margin: 0 auto;
  padding: 0 2rem 0 2rem;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.active {
  color: base.$primary-color
}