.localeSelect {
  display: flex;
  flex-direction: column;
}

.localeSelect:hover .localeMenu {
  display: flex;
  animation: 0.5s linear forwards;
}

.localeSelect a {
  padding: 4px 8px;
}

.localeSelect a:hover {
  @apply text-webgal;
}

.localeButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 4rem;
  width: 3rem;
  cursor: pointer;
}

.localeButton svg {
  @apply text-gray-500;
}

.localeButton:hover svg {
  @apply text-webgal;
}

.localeMenu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 3rem;
  width: max-content;
  transform: translateX(-40px);
  @apply rounded-md text-center py-1 bg-white drop-shadow;
}