@use '../../../base';

.localeSelect {
  display: flex;
  flex-direction: column;

  a {
    padding: 4px 8px;
  }

  a:hover {
    color: base.$primary-color;
  }

  &:hover .localeMenu {
    display: flex;
    animation: 0.5s linear forwards;
  }

  .localeButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 4rem;
    width: 3rem;

    svg {
      color: #333;
    }

    &:hover svg {
      color: base.$primary-color;
    }
  }

  .localeMenu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 3rem;
    // right: 0;
    width: max-content;
    transform: translateX(-40px);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    padding: 4px 0;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
  }
}