.active {
  @apply text-webgal;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 1px rgb(0, 0, 0, .05);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 999;
}

.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.navbar-title {
  @apply flex flex-row justify-center items-center gap-4;
}

.icon {
  width: 2.5rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon svg {
  @apply text-gray-500 w-6 h-6;
}

.icon:hover svg {
  @apply text-webgal;
}