.topVisual {
  @apply border-b-2;
  background: linear-gradient(rgba(0, 93, 175, 0.1), rgb(255, 255, 255));
  padding-top: 4rem;
  overflow: hidden;
}

.background {
  position: fixed;
  top: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
}

.container {
  @apply max-w-screen-xl mx-auto h-full p-4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.card {
  @apply shadow-md border-2 border-gray-200 rounded-lg;
  transform: translateY(calc(1280px/120));
  max-height: calc(1280px/3);
  max-width: 100%;
  transition: 0.35s ease-out;
}

@media screen and (max-width: 1280px) {
  .card {
    transform: translateY(calc(100vw/120));
    max-height: calc(100vw/3);
  }
}

.card:hover {
  transform: none;
}

.card-image {
  @apply h-full w-full object-cover rounded-lg;
}