.topVisual {
  height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(230, 230, 230, 0.8));
  padding-top: 4rem;
}

.topVisual::after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  background-image: url("/images/terre.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  z-index: -1;
}