.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  //align-items: center;
  align-content: space-evenly;
  padding-top:15vw;
  padding-bottom: 15vw;
  box-sizing: border-box;
}

.picContainer {
  max-width: 100vw;
  max-height: 100vh;
  width: calc(100vmax / 2);
  height: calc(100vmax / 2);
  flex-shrink: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contentContainer {
  flex: auto 1 1;
}

.contentInnerContainer {
  flex: auto 1 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

$elementMargin: 0.1em 0.25em 0.1em 0.25em;

.singleText {
  font-size: 250%;
  margin: $elementMargin;
}

.singleButton {
  margin: $elementMargin;
  font-size: 165%;
  background: linear-gradient(135deg, #005CAF 0%, #0B346E 100%);
  border: none;
  cursor: pointer;
  border-radius: 100px;
  padding: 0.25em 0.75em 0.25em 0.75em;
}
